/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 0 1rem; */
  background-color: transparent;
  z-index: var(--z-fixed);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.nav__logo {
  color: var(--title-color);
  font-size: var(--second-font);
  font-weight: var(--font-semi-bold);
}
.nav__toggle {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .2s ease;
  display: flex;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  /* .nav__toggle {
    display: none;
  } */

  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: hsla(0, 0, 0%, 0.3);
    width: 100%;

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* transform: translateY(-100%); */
    transition: top .3s ease;
    /* z-index: var(--z-fixed); */

    padding-block: 4rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* For Safari */;

  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2.5rem;
}

.nav__link{
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
  padding-right: .5rem;
}

.nav__link::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--title-color);
  bottom: -5px;
  left: 0;
  transition: width .3s;
}

.nav__link:hover::after{
  width: 70%;
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
  
/* Show menu */
.show-menu {
  top: 0;
}

/* Add blur to header */
.blur-header::after{
  content: '';
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For Safari */;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */
.active-link::after{
  width: 70%;
}

/*=============== HOME ===============*/
.home{
  position: relative;
}

.home__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  /* background-image: url("../images/home-bg.jpg"); */
  object-fit: cover;
  object-position: center;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; */
}

.home__shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background: linear-gradient(180deg, hsla(0, 0, 0, 0) 58%, hsl(0, 0, 0, 0) 78%);
}

.home__container{
  position: relative;
  /* z-index: 1; */
  padding-top: 3rem;
  row-gap: 3rem;
}

.home__data{
  text-align: center;
}

.home__subtitle{
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.home__title{
  font-size: var(--biggest-font-size);
  margin-bottom: 2rem;
}

.home__description{
  font-size: var(--normal-font-size);
  margin-bottom: 2.5rem;
  color: var(--title-color);
}

.home__cards{
  grid-template-columns: 240px;
  justify-content: center;
}

.home__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: .1rem;
  /* background-color: var(--container-color); */
  /* border-radius: .1rem; */
  /* transition: backgrounsd-color .3s ease; */
  position:relative;
  overflow: hidden;
}

.home__card-img{
  transition: transform .3s ease;
  /* border-radius: .1rem; */
}

.home__card-shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
   hsla(0, 0%, 0%, 0) 90%,
   hsl(0, 0%, 0%) 125%);
  border-radius: .1rem;
  transition: transform .3s ease;
}

.home__card-title{
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: var(--h3-font-size);
  /* margin-bottom: .5rem; */
  color: var(--title-color);
  z-index: 1;
}

.home__card:hover .home__card-img{
  transform: scale(1.3);
}
/*=============== BUTTON ===============*/

.button{
  background-color: hsla(0, 0, 0%, 0.3);
  padding: 1.25rem 1.5rem;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For Safari */;
}

.button i{
  font-size: 1.25rem;
  transition: transform .4s ease;
  font-weight: initial;
}

.button:hover i{
  transform: translateX(.25rem);
}

/*=============== ABOUT ===============*/
.about__container{
  padding-top: 3rem;
  row-gap: 3rem;
}

.about__data{
  text-align: center;
}

.about__description{
  font-size: var(--normal-font-size);
  margin-bottom: 2.5rem;
  color: var(--title-color);
}

.about__image{
  position: relative;
  /* width: 100%;
  border-radius: .1rem; */
  justify-self: center;
  overflow: hidden;
}

.about__img{
  width: 300px;
  transition: transform .3s ease;
}

.about__shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
   hsla(0, 0%, 0%, 0) 50%,
   hsl(0, 0%, 0%) 125%);

}

.about__image:hover .about__img{
  transform: scale(1.3);
}

/*=============== POPULAR ===============*/
.popular__container{
  padding-top: 3rem;
  row-gap: 3rem;
  grid-template-columns: 240px;
  justify-content: center;

}

.popular__image{
  position: relative;
  /* width: 100%;
  border-radius: .1rem; */
  justify-self: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

.popular__img{
  width: 300px;
  transition: transform .3s ease;
}

.popular__shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
   hsla(0, 0%, 0%, 0) 50%,
   hsl(0, 0%, 0%) 125%);
  /* background-color: hsla(0, 0%, 0%, 0.3); */
  /* backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);  */
  /* For Safari */;
  border-radius: .1rem;
  transition: transform .3s ease;
}

.popular__title{
  /* position: absolute; */
  left: 1rem;
  bottom: 1rem;
  font-size: var(--h3-font-size);
  /* margin-bottom: .5rem; */
  color: var(--title-color);
  z-index: 1;
}

.popular__location{
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-size: var(--small-font-size);
  font-family: var(--second-font);
  font-weight: 500;
}

.popular__location i{
  font-size: 1rem;
}

.popular__image:hover .popular__img{
  transform: scale(1.3);
}

/*=============== EXPLORE ===============*/

.explore{
  position: relative;
}

.explore__image{
  position: absolute;
  overflow: hidden;
  /* top: 0;
  left: 0;
  width: 100%;
  /* height: 750px; */
  /* background-image: url("../images/explore-bg.jpg"); */
  /* object-fit: cover; */
  /* object-position: center; */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; */
}

.explore__img{
  width: 100%;
  height: 333px;
  object-fit: cover;
  object-position: center;
}

.explore__shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
   hsl(0, 0%, 0%) 5%,
   hsla(0, 0%, 0%, 0) 40%,
   hsla(0, 0%, 0%, 0) 60%,
   hsl(0, 0%, 0%) 92%);
}

.explore__content{
  position: relative;
  padding-top: 16rem;
  text-align: center;
  row-gap: 3rem;
} 

.explore__user{
  display: inline-flex;
  align-items: center ;
  justify-content: center;
  column-gap: .5rem;
}

.explore__perfil{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.explore__name{
  font-size: var(--h3-font-size);
  color: var(--title-color);
}

/*=============== JOIN ===============*/
.join__container{
  padding-top: 3rem;
  row-gap: 3rem;
}

.join__data{
  text-align: center;
}

.join__description{
  font-size: var(--normal-font-size);
  margin-bottom: 2.5rem;
  color: var(--title-color);
}

.join__form{
  display: grid;
  /* flex-direction: column; */
  row-gap: 1.5rem;
}

.join__input{
  width: 100%;
  padding: 1.25rem 1.5rem;
  background-color: var(--container-color);
  border-radius: .1rem;
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--normal-font-size);
}

.join__button{  
  cursor: pointer;
  background-color: hsla(0, 0, 0%, 0.3);
  color: black;
}

.join__button:hover{
  background-color: hsla(0, 0, 0%, 0.5);
}

.join__image{
  position: relative;
  /* width: 100%;
  border-radius: .1rem; */
  justify-self: center;
  overflow: hidden;
}

.join__img{
  width: 300px;
  transition: transform .3s ease;
}

.join__shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
   hsla(0, 0%, 0%, 0) 50%,
   hsl(0, 0%, 0%) 125%);
  /* background-color: hsla(0, 0%, 0%, 0.3); */
  /* backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);  */
  /* For Safari */;
  border-radius: .1rem;
  transition: transform .3s ease;
}

.join__image:hover .join__img{
  transform: scale(1.3);
}
/*=============== FOOTER ===============*/
.footer{
  /* padding: 3rem 1rem; */
  padding-block: 2.5rem;
  background-color: var(--container-color);
  /* text-align: center; */
}

.footer__content{
  /* display: grid; */
  row-gap: 3.5rem;
}

.footer__logo{
  display: inline-block;
  color: var(--title-color);
  font-size: var(--h3-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;
}

.footer__data{
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3.5rem;

}

.footer__title{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: 1.5rem;
} 

.footer__links{
  display: grid;
  row-gap: .75rem;
}

.footer__link{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  transition: color .3s ease;
}

.footer__link:hover{
  color: var(--title-color);
}

.footer__group, .footer__social {
  display: flex;
  column-gap: 1.5rem;
} 

.footer__group{
  align-items: center;
  margin-top: 5rem;
  flex-direction: column;
  row-gap: 2rem;
}

.footer__social{
  font-size: 1.25rem;
  column-gap: 1.5rem;
}

.footer__social-link{
  color: var(--text-color-light);
  /* transition: color .3s ease; */
  font-size: 1.3rem;
  transition: color .4s, transform .4s;
}

.footer__social-link:hover{
  color: var(--title-color);
  transform: translateY(-.25rem);
}

.footer__copy{
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  /* margin-top: 2÷rem; */
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .5rem;
  background-color: hsl(0, 0%, 20%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: hsl(0, 0%, 40%);
  border-radius: .5rem;
}


::-webkit-scrollbar-thumb::hover{
  background-color: hsl(0, 0%, 80%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  bottom: -50%;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: hsla(0, 0%, 100%, 0.884);
  border-radius: .5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color .3s ease;
  z-index: var(--z-tooltip);
  font-size: 1rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); 
  /* For Safari */;
}

.scrollup:hover{
  background-color: hsla(0, 30%, 92%, 0.5);
  transform: translateY(-.25rem);
}

/* Show Scroll Up */
.show-scroll{
  bottom: 3rem;
}

/*=============== HOW WE CATER EXPERIENCES ===============*/
.how-we-cater {
  background-color: var(--container-color);
  color: var(--text-color);
}

.how-we-cater__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.how-we-cater__data {
  text-align: center;
}

.how-we-cater__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.5rem;
}

.how-we-cater__description {
  font-size: var(--normal-font-size);
  margin-bottom: 2rem;
}

.how-we-cater__list {
  margin-top: 1rem;
  list-style: none;
}

.how-we-cater__list li {
  margin-bottom: 0.5rem;
}

.how-we-cater__image {
  position: relative;
  overflow: hidden;
}

.how-we-cater__img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.how-we-cater__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 90%, hsl(0, 0%, 0%) 125%);
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.how-we-cater__img:hover {
  transform: scale(1.1);
}

/* Add this CSS code to your existing styles.css file */

/*==================== CATALOG ====================*/
.catalog {
  padding: 100px 0;
}

.catalog__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.catalog__card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.catalog__card:hover {
  transform: scale(1.05);
}

.catalog__image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.catalog__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog__data {
  padding: 20px;
}

.catalog__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.catalog__description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.catalog__button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #009688;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.catalog__button:hover {
  background-color: #00796b;
}


/*=============== SECTION TITLES ===============*/
.page-title {
  text-align: center;
  font-size: var(--biggest-font-size);
  margin-bottom: 2rem;
  color: var(--title-color);
}
/*==================== CATALOG STYLES ====================*/
.catalog {
  padding: 80px 0;
}

.catalog__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.catalog__item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.catalog__item:hover {
  transform: scale(1.05);
}

.catalog__item-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.catalog__item-title {
  margin: 20px 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.catalog__item-description {
  font-size: 1rem;
  color: #666;
}

/*==================== RESPONSIVE CATALOG STYLES ====================*/
@media screen and (max-width: 768px) {
  .catalog__container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .catalog__item-img {
    height: 150px;
  }

  .catalog__item-title {
    font-size: 1.2rem;
  }

  .catalog__item-description {
    font-size: 0.9rem;
  }
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: .5rem;
  }

  .footer__data{
    grid-template-columns: repeat(1, max-content);
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container, .about__container, .explore__content, .join__container {
    grid-template-columns: 380px;
    justify-content: center;
  }
  .footer__data{
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 768px) {
  .home__cards{
    grid-template-columns: repeat(2, 240px);
  }

  .about__container, .join__container{
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }
  
  .about__data, .about__data .section__title,
   .join__data, .join__data .section__title{
    text-align: initial;
  }

  .popular__container{
    grid-template-columns: repeat(2, 240px);
  }

  .explore__img{
    width: 100vw;
  }

  .join__image{
    order: -1;
  }

  .footer__content{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer__group{
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__copy{
    order: -1;
  }
}
/* For large devices */

@media screen and (min-width:1023px) {
  .nav__close, .nav__toggle{
    display: none;
  }
  .nav__list{
    column-gap: 4rem;
    flex-direction: row;
  }

  .popular__container{
    grid-template-columns: repeat(3, 240px);
  }

  .footer__data{
    grid-template-columns: repeat(4, max-content);
    column-gap: 4.5rem;
  }
}

@media screen and (min-width:1152px){
  .container{
    margin-inline: auto;
  }

  .section{
    padding-block: 7rem 1rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }

  .blur-header::after{
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(25px); /* For Safari */;
    width: 100%;
  }

  .home__container{
    grid-template-columns: initial;
    justify-content: initial;
    row-gap: 4rem;
    padding-top: 6.5rem;
  }

  .home__shadow{
    height:980px;
  }

  .home__data{
    text-align: initial;
    width:480px
  }

  .home__subtitle{
    font-size: var(--h2-font-size);
  }

  .home__description{

    margin-bottom: 3rem;
  }

  .home__cards{
    grid-template-columns: repeat(4, 240px);
    justify-content: initial;
  }

  .home__card-title{
    left: 1.5rem;
    bottom:1.5rem;
  }

  .button{
    column-gap: 1.5rem;
  }

  .about__container{
    grid-template-columns: 400px 460px;
    column-gap: 8.5rem;
    padding-block: 1rem;
  }

  .about__description{
    margin-bottom: 3rem;
  }

  .about__img{
    width: 460px;
  }

  .popular__container{
    grid-template-columns: repeat(3, 300px);
    column-gap: 3rem;
    padding-top: 4rem;
    /* justify-content: initial; */
    /* padding-block: 1rem; */
  }
  
  .popular__title{
    font-size: var(--h2-font-size);
  }

  .popular__location{
    font-size: var(--normal-font-size);
  }

  .explore__img{
    height: 600px;
  }

  .explore__content{
    padding-top: 30rem;
    grid-template-columns: 670px 1fr;
    row-gap: 4rem;
  }
  
  .explore__data, .explore__data ,.section__title{
    text-align: initial;
  }

  .explore__user{
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 1.25rem;
  }

  .join__container{
    grid-template-columns: 460px 340px;
    column-gap: 8.5rem;
    padding-block: 1rem 5rem;
  }

  .join__img{
    width: 460px;
  }

  .join__description{
    margin-bottom: 3rem;
  }

  .footer{
    padding-block: 5rem 3rem;
  }

  .footer__title{
    margin-bottom: 1.5rem;
  }

  .footer__group{
    margin-top: 7rem;
  }

  .footer__social{
    column-gap: 2rem;
  }

  .footer__social-link{
    font-size: 1.5rem;
  }

  .scrollup{
    right: 3rem;
    bottom: 3rem;
  }

}










